
@media only screen and (max-width: 1080px) {
    .nav-list{
        flex-direction: column;
        margin-top: 20px;
        
    }
    .intro{
        text-align: center;
    }
    .options{
        flex-direction: column;
    }
    .navibar{
        flex-direction: column;
        height: 550px;
        transition: all 0.5s ease-out;
    }
    .rightnav{
        flex-direction: column;
        margin-bottom: 15px;
        padding: 3px;
    }
    .search{
        margin-top: 10px;
        text-align: center;
        width: 50%;
        margin-left: 53px;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 72px;
    }
    .v-class{
        opacity: 0;
    }
    .firstSection{
        flex-direction: column;
        max-width: 100%;
    }
    /* .firstSection h1{
        font-size: 1.5rem;
    } */
    .whyussection .container{
        flex-direction: column;
        margin-top: 5px;
    }
    .whyussection .card{
        margin-top: 5px;
    }
    .whyussection{
        height: 950px;
    }
    .teachercontainer{
        height: 9883px;
        background-color: #fff0eb;

    }
    .teachercontainer{
        display: flex;
        flex-direction: column;
    }
    .firsthalf ,.secondhalf{
        width: 60%;
        height: 175vh;
        display: flex;
        justify-content: center;
        margin-left: 20%;
    }
    .firsthalf img ,.secondhalf img{
        right: 179px;
    }

    #name1 ,#name2{
        left: -17%;
    }

    .firsthalf .discriptionodd ,.secondhalf .discriptioneven{
        position: relative;
        top: 19%;
        left: 20%;
    }
    .footer .container{
        flex-direction: column;
    }
    .footer{
        height: 575px;
    }
    .footer>p{
        height: 100vh;
        padding-top: 136px;
    }
    .section2 h2{
        text-align: left;
        padding-top: 30px;
    }
    .contains2{
        position: relative;
        left: 6%;
        border: none;
        width: 100%;
    }
    .section{
        flex-direction: column;
    }
    .paras{
        padding: 0;
    }
    .sectionsubtag{
        padding-bottom: 54px;
    }
    






}

@media only screen and (max-width: 990px) {
    .timetablesection{
        display: none;
    }
}